.buttonYform {
    background-image: url("../Home/img/foondos.jpg");
    display: flex;
    background-size: cover;
    overflow-y:scroll;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
  }
  .formCreateDog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  .buttonBack {
    background-color: #b8f587;
    border: 2px solid #b8f587;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
   
    text-decoration: none;
  
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
    padding: 15px 20px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.036) 0 3px 8px;
  }
  .boxstyle {
    background-color: #b8f587;
    margin-top: 30px;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: var(--title-create-dogs);
    text-shadow: 2px 2px 15px var(--title-shadow-color);
    font-weight: 600;
    font-size: 3rem;
  }
  .div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
  }
  .label {
    display: flex;
    font-weight: 500;
    font-size: 1.1rem;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 5px;
    color: var(--color-titulos-campos);
  }
  .input {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background-color: antiquewhite;
  }
  .tempsdisplay {
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-close-button);
    border-radius: 999px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .buttonCrear {
    background-color: #b8f587;
    border: 2px solid #b8f587;
    border-radius: 25px;
    display: flex;
    align-items: flex-start;
   
    text-decoration: none;
  
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
    padding: 15px 20px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.036) 0 3px 8px;
  }
  .buttonCrear:hover {
    background-color: #98e388;
    border: 2px solid #b8f587;
transform: scale(1.05);
  }
  .error {
    font-size: medium;
    color: var(--error-message-color);
  }

  .buttonBack:hover {
    background-color: #98e388;
    border: 2px solid #b8f587;
transform: scale(1.05);
  }
  