.div{
    background-image: url("./img/back.jpg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    justify-content: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
   
}
.section{
    background-color: #00000055;
    width: 100%;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.textyimg{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 8rem;
    margin-right: 10rem;
}
.left{
    width: 100%;
    margin-left: 1rem;
    padding: 15px 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;

    text-shadow:1px 1px 10px rgb(0, 0, 0);
}

p{
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 1px 1px 2px green;
    color: var(--text-color-body-landingpage);
    font-family: 'Satisfy', cursive;
    animation: aparecerElemento 2.5s;
    
    
}

.button{
    margin-top: 10vh;
    background-color: var(--bg-color-button);
    border-radius: 15px;
    font-size: 2rem;
    padding: 30px 30px;
    font-weight: 700;
    transition: 0.5s;
    color: green;
    border: 2px solid white;
    box-shadow: 10px 5px 5px 4px rgba(4, 4, 0, 0.364);
    font-family: 'Satisfy', cursive;
    
}
.button:hover{
    cursor: pointer;
    transform: scale(120%);
    color: green;
    transition: 0.5s;
    background-color: white ;
}

.titulo{
    margin-left: 1rem;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
    text-shadow: 1px 1px 2px green;
    color: var(--text-color-title-landingpage);
    animation: aparecerElemento 1.5s;
}

@keyframes aparecerElemento {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (orientation:portrait) {
    .div{
        background-image: url("./img/giphy.gif");
        width: 100%;
        height: 100%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    }
    .titulo{
        margin-left: 1rem;
        font-family: 'Satisfy', cursive;
        font-size: 40px;
        text-shadow: 1px 1px 2px green;
        color: var(--text-color-title-landingpage);
        animation: aparecerElemento 1.5s;
    }
    .section{
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        width: 100%;
        font-size: 18px;
        text-shadow: 1px 1px 2px green;
        color: var(--text-color-body-landingpage);
        font-family: 'Satisfy', cursive;
        animation: aparecerElemento 2.5s;
    }
  }
  
  
  
  @media screen and (max-width: 800px) and (orientation:portrait) {
    .div{
        background-image: url("./img/giphy.gif");
        width: 100%;
        height: 100%;
        display: flex;
    
    justify-content: center;
    background-attachment: fixed;
    }
    .titulo{
        margin-left: 1rem;
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        text-shadow: 1px 1px 2px green;
        color: var(--text-color-title-landingpage);
        animation: aparecerElemento 1.5s;
    }
    .section{
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex ;
    }
    p{
        width: 100%;
        font-size: 18px;
        text-shadow: 1px 1px 2px green;
        color: var(--text-color-body-landingpage);
        font-family: 'Satisfy', cursive;
        animation: aparecerElemento 2.5s;
    }
  }