.div{
    background-image: url("./img/alvan-nee-T-0EW-SEbsE-unsplash.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    
    
}
.section{
    backdrop-filter: blur(4px);
    background-color: #00000055;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.textyimg{
    display: flex;
    flex-direction: row;
    margin-left: 6em;
    margin-right: 10em;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
    
    border-radius: 30px;
    text-shadow:1px 1px 10px rgb(0, 0, 0);
}
h1{
    font-weight: 700;
    color: var(--text-color-title-landingpage);
}
p{
    font-size: 25px;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: 500;
    color: var(--text-color-body-landingpage);
    
    
}

.button{
    margin-top: 10vh;
    background-color: var(--bg-color-button);
    border-radius: 15px;
    font-size: 2rem;
    padding: 15px 30px;
    font-weight: 700;
    transition: 0.5s;
    color: var(--text-color-button-leters);
    border: 2px solid var(--border-button-color);
    box-shadow: 10px 5px 5px 4px rgba(4, 4, 0, 0.364);
}
.button:hover{
    cursor: pointer;
    transform: scale(120%);
    color: var(--border-button-color-hover);
    transition: 0.5s;
}
.img{
    border-radius: 9999px;
    height: 450px;
    width: 450px;
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.536);
}